.console-form-item {
    margin: 0;
    padding: 8px 0;
}

.console-form-item-odd {
    background-color: #f8f8f8;
}

.console-form-image {
    max-width: 128px;
    max-height: 96px;
    cursor: pointer;
}

.console-form-file a {
    color: rgba(0, 0, 0, 0.65);
}

.console-form-agreement label,
.console-form-toolbar label {
    display: none;
}

.console-form-toolbar button {
    margin: 8px 4px 8px 0;
}