.lines {
    padding: 8px;
}

.lines-vertical {
    writing-mode: vertical-rl;
}

.line>* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.line>h1,
.line>h2,
.line>h3,
.line>p {
    min-height: 3rem;
    line-height: 3rem;
}

.line .image .view {
    display: inline-block;
}

.line .image img {
    display: block;
}

.lines-horizontal .line .image img {
    max-width: 100%;
}

.lines-vertical .line .image img {
    max-height: 100%;
}

.line .image .view .name {
    border: none;
    outline: none;
    background-color: var(--image-name-bg);
    text-align: center;
    line-height: 200%;
}

.lines-horizontal .divider {
    padding: 0.5rem 0;
}

.lines-horizontal .divider div {
    border-top: 1px solid var(--border);
}

.lines-vertical .divider {
    padding: 0 0.5rem;
}

.lines-vertical .divider div {
    border-right: 1px solid var(--border);
}

.line .bold {
    font-weight: bold;
}

.line .italic {
    font-style: italic;
}

.line .underline {
    text-decoration: underline;
}

.line .linethrough {
    text-decoration: line-through;
}

.annotation-horizontal {
    position: absolute;
    transform: translateY(-100%);
    color: var(--annotation);
}

.annotation-vertical {
    position: absolute;
    transform: translateX(1rem);
    color: var(--annotation);
    writing-mode: vertical-rl;
}