.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.linethrough {
    text-decoration: line-through;
}

.forground-default {
    color: var(--color);
}

.forground-gray {
    color: gray;
}

.forground-brown {
    color: brown;
}

.forground-orange {
    color: orange;
}

.forground-yellow {
    color: yellow;
}

.forground-green {
    color: green;
}

.forground-blue {
    color: blue;
}

.forground-purple {
    color: purple;
}

.forground-pink {
    color: pink;
}

.forground-red {
    color: red;
}

.background-default {
    background-color: var(--background);
}

.background-gray {
    background-color: gray;
}

.background-brown {
    background-color: brown;
}

.background-orange {
    background-color: orange;
}

.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: green;
}

.background-blue {
    background-color: blue;
}

.background-purple {
    background-color: purple;
}

.background-pink {
    background-color: pink;
}

.background-red {
    background-color: red;
}

.line ol,
.line ul {
    margin: 0;
    padding: 0 0 0 1rem;
}

.line .image .view {
    display: inline-block;
}

.line .image img {
    display: block;
}

.lines-horizontal .line .image img {
    max-width: 100%;
}

.lines-vertical .line .image img {
    max-height: 100%;
}

.line .image .view .name {
    border: none;
    outline: none;
    background-color: var(--image-name-bg);
    text-align: center;
    line-height: 200%;
}

.lines-horizontal .divider {
    padding: 0.5rem 0;
}

.lines-horizontal .divider div {
    border-top: 1px solid var(--border);
}

.lines-vertical .divider {
    padding: 0 0.5rem;
}

.lines-vertical .divider div {
    border-right: 1px solid var(--border);
}

.line .annotation {
    background-color: var(--hover-bg);
}

.annotation-horizontal {
    position: absolute;
    transform: translateY(-100%);
    color: var(--annotation);
    font-size: 0.5rem;
}

.annotation-vertical {
    position: absolute;
    transform: translateX(1rem);
    color: var(--annotation);
    writing-mode: vertical-rl;
    font-size: 0.5rem;
}

.find {
    color: var(--find);
}