:root {
  --background: #fff;
  --border: #e5e5e5;
  --icon: #212121;
  --icon-disable: #ccc;
  --icon-hover-bg: #e5e5e5;
  --icon-hover: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --border: #e5e5e5;
  }
}